*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(imgaes/headerbackground.png);
    height: 250px;
    background-color: dimgray;
    background-size: cover;
    background-position: center;
    border: 10px solid dimgray;
    
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
    
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
        
}

.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
    border: 1px solid white;
}

.logo img
{
    width: 150px;
    height: auto;
    float: left;
}

body
{
    font-family: monospace;
    background-color: dimgray;
    
}

.hero 
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
}
h1 {
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
}

h3 {
text-align: center;
color: white;
    font-family: "Roboto", sans-serif;
}

p {
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
}
      form {
      
      }
      input[type=text], input[type=password] {
      width: 100%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
      .icon {
      font-size: 110px;
      display: flex;
      justify-content: center;
      color: #4286f4;
      }
      button {
      background-color: #4286f4;
      color: white;
      padding: 14px 0;
      margin: 10px 0;
      border: none;
      cursor: grab;
      width: 48%;
      }
      h1 {
      text-align:center;
      font-size:18;
      }
      button:hover {
      opacity: 0.8;
      }
      .formcontainer {
      text-align: center;
      margin: 24px 50px 12px;
      }
      .container {
      padding: 16px 0;
      text-align:left;
      }
      span.psw {
      float: right;
      padding-top: 0;
      padding-right: 15px;
      }
      /* Change styles for span on extra small screens */
      @media screen and (max-width: 300px) {
      span.psw {
      display: block;
      float: none;
      }
          
          